/* App.css */

.imageContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  /* Space between images */
}

.imageWrapper {
  position: relative;
  display: inline-block;
  animation: entrance 1s ease 1;
  /* Animation runs only once */
}

.imageWrapper:hover {
  transform: scale(1.05);
  /* Scale without triggering entrance */
  transition: transform 0.3s ease;
  /* Smooth scale effect */
}

.imageWrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}



.imageButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body .imageWrapper:nth-of-type(1) .imageButton {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.imageButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@keyframes entrance {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}